<footer class="main-footer">
    <div class="container footer-content">
        <div class="footer-brand">
            <h2 class="footer-logo">ViveConecta</h2>
            <p>"Más que vecinos, una comunidad conectada"</p>
        </div>
        
        <div class="footer-contact">
            <ul>
                <li><i class="material-icons tiny">phone</i><span>+57 3004706323 - +57 3115057183</span></li>
                <li><i class="material-icons tiny">email</i><span>Viveconecta@gmail.com</span></li>
                <li><i class="material-icons tiny">facebook</i><span>ViveConecta</span></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 ViveConecta - Todos los derechos reservados</p>
    </div>
</footer>