.sidebar-bottom {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.sidebar-fixed {
  width: 260px;
  background-color: #1E293B;
  height: 100vh;
  position: fixed;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.btn-logout-sidebar {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.btn-logout-sidebar:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-logout-sidebar i {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.btn-logout-sidebar:hover i {
  transform: translateX(3px);
}

.brand-title {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.nav-links {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.nav-links li a {
  color: #94A3B8;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 1rem;
}

.nav-links li.active a,
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #00D1B2;
}
