@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 

/* Asegúrate de que estos estilos estén en tu CSS global */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content-wrapper {
  flex: 1 0 auto; /* Esto hace que el contenido principal crezca y empuje el footer */
  padding-bottom: 20px; /* Espacio antes del footer */
}

/* Estilos específicos para tu footer */
.page-footer {
  flex-shrink: 0; /* Evita que el footer se encoja */
  margin-top: auto; /* Empuja el footer hacia abajo */
}

        
